/*body {*/
/*    margin: 0;*/
/*    padding: 20px;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    color: #444;*/
/*    font-size: 30px;*/
/*}*/

/*!**/
/* * Formatting the header area*/
/* *!*/
/*header {*/
/*    background-color: #DFB887;*/
/*    height: 35px;*/
/*    width: 100%;*/
/*    opacity: .9;*/
/*    margin-bottom: 10px;*/
/*}*/

/*header h1.logo {*/
/*    margin: 0;*/
/*    font-size: 1.7em;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*    float: left;*/
/*}*/

/*header h1.logo:hover {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*}*/

/*!**/
/* * Centering the body content*/
/* *!*/
/*.container {*/
/*    width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

/*div.home {*/
/*    padding: 10px 0 30px 0;*/
/*    background-color: #E6E6FA;*/
/*    -webkit-border-radius: 6px;*/
/*    -moz-border-radius: 6px;*/
/*    border-radius: 6px;*/
/*}*/

/*div.about {*/
/*    padding: 10px 0 30px 0;*/
/*    background-color: #E6E6FA;*/
/*    -webkit-border-radius: 6px;*/
/*    -moz-border-radius: 6px;*/
/*    border-radius: 6px;*/
/*}*/

/*h2 {*/
/*    font-size: 3em;*/
/*    margin-top: 40px;*/
/*    text-align: center;*/
/*    letter-spacing: -2px;*/
/*}*/

/*h3 {*/
/*    font-size: 1.7em;*/
/*    font-weight: 100;*/
/*    margin-top: 30px;*/
/*    text-align: center;*/
/*    letter-spacing: -1px;*/
/*    color: #999;*/
/*}*/

/*.menu {*/
/*    float: right;*/
/*    margin-top: 8px;*/
/*}*/

/*.menu li {*/
/*    display: inline;*/
/*}*/

/*.menu li + li {*/
/*    margin-left: 35px;*/
/*}*/

/*.menu li a {*/
/*    color: #444;*/
/*    text-decoration: none;*/
/*}*/

#text-content {
    height: 100%;
    width: 100%;
}

#predict-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#result {
    background: rgba(191, 216, 253, 1);
    padding: 5px 20px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#parent {
    margin-bottom: 15px;
    padding: 10px;
    color: #0A416B;
    clear:both;
}
#left, #center, #right{
    float:left;
    width:32%;
    border:1px solid #CEDCEA;
    padding:5px;

}

.header-index {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 72px;
}

.cate-statistic{
    padding-left: 48px;
    font-size: 18px;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-field {
    height: 100%;
}

.img-res {
    height: 100%;
    width: auto;
}

.row-res {
    height: 200px;
    display: flex;
}

.footer {
    background: #6a737c;
    margin-top: 27px;
    border-top: solid;
    font-size: 18px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.user-id-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 17px;
}

#text-status {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    color: red;
}

.line {
    background: #0000002e;
    height: 1.5px;
    width: 66%;
    margin: 0 auto;
    margin-bottom: 10px;
}