{% extends "base2.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Dự đoán xu hướng chính trị của bài viết</h1>

    <p><b>Nhập nội dung</b></p>
    <div class="container-fluid">
        <div class="row" style="display: flex;">
            <div class="col-md-5" style="padding-left: 0">
                <textarea id="text-content" name="content_raw" required></textarea>
            </div>
            <div class="col-md-2" id="predict-btn">
                <button type="submit" class="btn btn-primary"
                        id="btn-predict">Dự đoán
                </button>
            </div>
            <div class="col-md-5" style="padding-right: 0" id="result">
                <div>
                    <span id="content-clean"></span>
                </div>
                <br>

                <div id="predict-result">

                </div>
            </div>
        </div>
    </div>
    <br>
    <b> Xác suất các nhánh</b>
    <br>
    <br>
    <div class="container" style="text-align:center" id="image-result">
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}