{% extends "base2.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Dự đoán xu hướng chính trị của file</h1>
    <br>

    {#    <label style="color:blue;font-size:22px;">Chọn file</label>#}
    <div class="header-index">Chọn file</div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="{{ url_for('statistic') }}" method="POST" enctype="multipart/form-data">
                    {#                    <input type="file" name="file">#}
                    {#                    <input type="submit" name="Upload">#}
                    <div class="form-group">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file_name" id="file">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" name="btn" value="btn-upload-file">Upload file
                    </button>
                </form>

            </div>

        </div>

    </div>

    {#    <table class="table table-hover" style="text-align:left">#}
    {#        <tr>#}
    {#            <td>#}
    {#                <b>Nhập file</b>#}
    {##}
    {#            </td>#}
    {#            <td>#}
    {#                <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">#}
    {#                    <input type="file" name="file">#}
    {#                    <input type="submit" name="Upload">#}
    {#                </form>#}
    {#            </td>#}
    {#        </tr>#}
    {#    </table>#}

    <div class="container" style="text-align:center">
        <form action="{{ url_for('statistic', path_main=path_file) }}" method="POST">
            <button type="submit" class="btn btn-primary" name="btn" value="btn-process-file">Xử lý</button>
        </form>
        <br>
    </div>

    {% if path_download %}
        <input type="hidden" id="hidden-input" value="{{ file_downloaded_name }}">
        <div class="container" style="text-align: center">
            <b style="font-size: 20px; white-space:pre">Kết quả xử lý: </b>
            <a style="font-size: 18px; text-decoration: underline"
               href="{{ url_for('download_file', path=path_download) }}">{{ file_downloaded_name }}</a>
        </div>
    {% endif %}


    {#    <table class="table table-hover">#}
    {#        {% if path_download %}#}
    {#            <input type="hidden" id="hidden-input" value="{{ file_downloaded_name }}">#}
    {#        {% endif %}#}
    {#        <tr>#}
    {#            <td>#}
    {#                {% if path_download %}#}
    {#                    <b style="font-size: 18px">Kết quả xử lý</b>#}
    {#                {% endif %}#}
    {#            </td>#}
    {#            <td>#}
    {#                {% if path_download %}#}
    {#                    <a href="{{ url_for('download_file', path=path_download) }}">{{ file_downloaded_name }}</a>#}
    {#                {% endif %}#}
    {#            </td>#}
    {#        </tr>#}
    {#    </table>#}

    <div class="header-index">
        <div class="line"></div>
        <div>Thống kê</div>
    </div>
    <div class="container-fluid">
        <div class="row row-res">
            <div class="col-md-6 cate-statistic">
                Phân phối trên từng nhánh theo số lượng post
            </div>
            <div class="col-md-6 img-field">
                {% if file_name_number_posts %}
                    <img src="{{ file_name_number_posts }}" class="img-res">
                {% endif %}
            </div>
        </div>
        <div class="row row-res">
            <div class="col-md-6 cate-statistic">
                Phân phối trên từng nhánh theo số lượng user
            </div>
            <div class="col-md-6 img-field">
                {% if file_name_number_users %}
                    <img src="{{ file_name_number_users }}" class="img-res">
                {% endif %}
            </div>
        </div>
        <div class="row" style="height: 300px; display: flex;">
            <div class="col-md-6 cate-statistic">
                Thống kê theo số lượng truy cập
            </div>
            <div class="col-md-6 img-field">
                {% if file_name_number_access %}
                    <img src="{{ file_name_number_access }}" class="img-res">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="header-index">
        <div class="line"></div>
        <div>Thống kê theo từng user</div>
    </div>
    <div class="container-fluid">
        <div class="row" style="display: flex">
            <div class="col-md-2 col-md-offset-2 user-id-label">
                Nhập id user
            </div>
            <div class="col-md-3">
                <input placeholder="Nhập id" id="text-id-user" name="content_id_user" required style="width: 100%; height: 100%"></input>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary"
                        id="btn-search-process">Tìm kiếm và xử lý
                </button>
            </div>
        </div>
    </div>
    <div id="text-status"></div>
    <div style="text-align:center" id="image-each-user"></div>
{#    <table class="table table-hover">#}
{#        <tr>#}
{#            <td>#}
{#                Phân phối trên từng nhánh theo số lượng post#}
{#                {% if file_name_number_posts %}#}
{#                    <img src="{{ file_name_number_posts }}" width="480" height="360">#}
{#                {% endif %}#}
{#            </td>#}
{#        </tr>#}
{##}
{#        <tr>#}
{#            <td>#}
{##}
{#                {% if file_name_number_users %}#}
{#                    <img src="{{ file_name_number_users }}" width="480" height="360">#}
{#                {% endif %}#}
{#            </td>#}
{#        </tr>#}
{##}
{#        <tr>#}
{#            <td>#}
{#                Thống kê theo số lượng truy cập#}
{#                {% if file_name_number_access %}#}
{#                    <img src="{{ file_name_number_access }}" width="480" height="360">#}
{#                {% endif %}#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{##}
{#        </tr>#}
{#        <td>#}
{#            <b>Thống kê theo từng user</b>#}
{#        </td>#}
{#        <tr>#}
{##}
{#            <td>#}
{#                Nhập id user#}
{#                <textarea placeholder="Nhập id" id="text-id-user" name="content_id_user" required></textarea>#}
{#                <button type="submit" class="btn btn-primary"#}
{#                        id="btn-search-process">Tìm kiếm và xử lý#}
{#                </button>#}
{##}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td style="text-align:center">#}
{#                <span id="text-status"></span>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td style="text-align:center" id="image-each-user">#}
                {#                <img src="/static/logo.png" width="80" height="80">#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/statistic.js"></script>
{% endblock %}
